<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{$page_title|default:"Kalkulator kredytowy"}</title>
        <link rel="stylesheet" href="{$conf->app_url}\style.css">
        <!-- dodac style z szablonu -->
        <script src="{$conf->app_url}\js\show.js"></script>
    </head>
    
    <body>
          <!-- dodać header -->
           {block name=content} Domyślna treść zawartości .... {/block}
          <!-- dodać footer -->
    </body>
</html>